 
 <h1>Choose a category:</h1>
<fieldset>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkAction"
    value = "Action" />
  <label for = "chkAction">Action</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkAdventure"
    value = "Adventure" />
  <label for = "chkAdventure">Adventure</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkAnimation"
    value = "Animation" />
  <label for = "chkAnimation">Animation</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkBiography"
    value = "Biography" />
  <label for = "chkBiography">Biography</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkComedy"
    value = "Comedy" />
  <label for = "chkComedy">Comedy</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkCrime"
    value = "Crime" />
  <label for = "chkCrime">Crime</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkDocumentary"
    value = "Documentary" />
  <label for = "chkDocumentary">Documentary</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkDrama"
    value = "Drama" />
  <label for = "chkDrama">Drama</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkFamily"
    value = "Family" />
  <label for = "chkFamily">Family</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkForeign"
    value = "Foreign" />
  <label for = "chkForeign">Foreign</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkHistory"
    value = "History" />
  <label for = "chkHistory">History</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkHorror"
    value = "Horror" />
  <label for = "chkHorror">Horror</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkInspirational"
    value = "Inspirational" />
  <label for = "chkInspirational">Inspirational</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkMystery"
    value = "Mystery" />
  <label for = "chkMystery">Mystery</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkRomance"
    value = "Romance" />
  <label for = "chkRomance">Romance</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkSciFi"
    value = "SciFi" />
  <label for = "chkSciFi">Sci Fi</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkSports"
    value = "Sports" />
  <label for = "chkSports">Sports</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkThriller"
    value = "Thriller" />
  <label for = "chkThriller">Thriller</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkWestern"
    value = "Western" />
  <label for = "chkWestern">Western</label>
</div>
<div class="item">
  <input type = "radio"
	name="action"
    id = "chkMiscellaneous"
    value = "Miscellaneous" />
  <label for = "chkMiscellaneous">Miscellaneous</label>
</div>
</fieldset>
  <button type = "button"
    id = "save_video">
   Save Video
  </button>


