 
 <h1>Choose a category:</h1>
<fieldset>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkArts"
    value = "Arts" />
  <label for = "chkArts">Arts</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkBusiness"
    value = "Business" />
  <label for = "chkBusiness">Business</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkEconomics"
    value = "Economics" />
  <label for = "chkEconomics">Economics</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkEducation"
    value = "Education" />
  <label for = "chkEducation">Education</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkEntertainment"
    value = "Entertainment" />
  <label for = "chkEntertainment">Entertainment</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkFashion"
    value = "Fashion" />
  <label for = "chkFashion">Fashion</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkGames"
    value = "Games" />
  <label for = "chkGames">Games</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkHealth"
    value = "Health" />
  <label for = "chkHealth">Health</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkHome"
    value = "Home" />
  <label for = "chkHome">Home</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkKids"
    value = "Kids" />
  <label for = "chkKids">Kids</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkMen"
    value = "Men" />
  <label for = "chkMen">Men</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkNews"
    value = "News" />
  <label for = "chkNews">News</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkPolitics"
    value = "Politics" />
  <label for = "chkPolitics">Politics</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkReference"
    value = "Reference" />
  <label for = "chkReference">Reference</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkRegional"
    value = "Regional" />
  <label for = "chkRegional">Regional</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkScience"
    value = "Science" />
  <label for = "chkScience">Science</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkShopping"
    value = "Shopping" />
  <label for = "chkShopping">Shopping</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkSociety"
    value = "Society" />
  <label for = "chkSociety">Society</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkSports"
    value = "Sports" />
  <label for = "chkSports">Sports</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkTechnology"
    value = "Technology" />
  <label for = "chkTechnology">Technology</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkTravel"
    value = "Travel" />
  <label for = "chkTravel">Travel</label>
</div>
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chkWomen"
    value = "Women" />
  <label for = "chkWomen">Women</label>
</div>
<div class="item">
  <input type = "radio"
	name="action"
    id = "chkMiscellaneous"
    value = "Miscellaneous" />
  <label for = "chkMiscellaneous">Miscellaneous</label>
</div>
</fieldset>
  <button type = "button"
    id = "save_website">
   Save Website
  </button>


