{% extends "base.html" %}

{% block title %}Activation{% endblock %}

{% block content %}
    <h1>Already Activated</h1>
    {% if request.user.is_authenticated %}
<p>Your account is already active with MediaShelf and you are currently logged in.
    Thank you for your support.  Enjoy!</p>

    {% else %}
<p>Your account is already active with MediaShelf.  Now you can <a
href="{% url "login" %}">log in</a> here.</p>
{% endif %}
{% endblock %}
