{% extends "base.html" %}

{% block title %}Activation{% endblock %}

{% block content %}
    <h1>Activation Key Already Sent</h1>
<p>An activation key has already been sent to you email account.  Please check your email in order to activate this account.  Thanks, from the MediaShelf Team.</p>
{% endblock %}

