{% extends "base.html" %}

{% block title %}You are already registered!{% endblock %}

{% block content %}
    <h1>Welcome!</h1>
<p>Your email is associated with a current account with MediaShelf.
    Please enter your password to complete your sign-in.  You will be automatically
    signed in on future log-in attempts.</p>
<form>
    <label>Username</label> 
    <input name="username" type="text" /> 

     <label>Password</label> 
    <input name="password" type="password" /> 

    <button>Submit</button> 
</form>
{% endblock %}

<!--<form method="post" action="{% url "social:complete" backend %}"> 
        {% if error == 'credentials' %}
            {% endif %} -->
            
