<!DOCTYPE html>
{% load staticfiles %}


<html>
<head>
    <title>{% block title %}{% endblock %}</title>
	  <link rel="icon" href="{% static "css/icons/media_shelf1.png" %}">
    <link href= "{% static "css/base.css"%}" rel="stylesheet" >
	<link href= "{% static "css/font-awesome-4.7.0/css/font-awesome.min.css"%}" rel="stylesheet">
<link href= "{% static "css/showYtVideo.css"%}" rel="stylesheet" >
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/amlemnllmhfhldgbdjgekflegjglfcem">
<meta name="viewport" content="width=device-width">
	<meta charset="utf-8" />
</head>
<body>
    <div id="header">
        <div class="header-inner">
        <a href="/">
        <span class="logo"></span>
        </a>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url "dashboard" %}">Home</a>
                </li>
                <li {% if section == "articles" %}class="selected"{% endif %}>
                    <a href="{% url "articles:list" %}">Articles</a>
                </li>

                <li {% if section == "videos" %}class="selected"{% endif %}>
                    <a href="{% url "videos:list" %}">Videos</a>
                </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                    <a href="{% url "images:list" %}">Images</a>
                </li>
                <li {% if section == "websites" %}class="selected"{% endif %}>
                    <a href="{% url "websites:list" %}">Websites</a>
                </li>
                <li {% if section == "howToSave" %}class="selected"{% endif %}>
                    <a href="{% url "howToSave" %}">How to Save</a>
                </li>

            </ul>
        {% endif %}

        <span class="user">
            {% if request.user.is_authenticated %}
              {% if user.profile.photo %}
                <img src="{{ user.profile.photo.url }}">
                    {% endif %}
                <div class="username">{{ request.user }},</div>
                <a href="{% url "logout" %}">Logout</a>
            {% else %}
                <a href="{% url "login" %}">Log-in</a>
            {% endif %}
        </span>
        <div class="mobile-menu">
            <div class="mobile-icon" id ="drop-down-menu">
              <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </div>
          <div class="mobile-icon" id="filter">
            <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
          </div>
        </div>
<br clear="all" />
        </div>
    </div>
    <ul class="dropdown-menu">
        <h2>Menu</h2>
        {% if request.user.is_authenticated %}
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
            <a href="{% url "dashboard" %}">Home</a>
        </li>
        <li {% if section == "articles" %}class="selected"{% endif %}>
            <a href="{% url "articles:list" %}">Articles</a>
        </li>

        <li {% if section == "videos" %}class="selected"{% endif %}>
            <a href="{% url "videos:list" %}">Videos</a>
        </li>
        <li {% if section == "images" %}class="selected"{% endif %}>
            <a href="{% url "images:list" %}">Images</a>
        </li>
        <li {% if section == "websites" %}class="selected"{% endif %}>
            <a href="{% url "websites:list" %}">Websites</a>
        </li>
        <li>
            <a href="{% url "logout" %}">Logout</a>
        </li>
        {% else %}
            <a href="{% url "login" %}">Log-in</a>
        {% endif %}
    </ul>

    <div id="content">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                            <a href="#" class="close">✖</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
        <br clear="all" />
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
	<script type="text/javascript" src="{% static 'js/main_js.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.showYtVideo.js' %}"></script>
	 <script>var banner_default = "{% static 'css/global_images/mediashelf_banner1.jpg' %}";</script>
<script>
 $(document).ready(function ($) {
            $('.demo').on('click', function () {
                $.showYtVideo({
                    videoId: 'SayaFaahEuc'
                });
            });
        });
</script>
    <script>
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $(document).ready(function(){
            {% block domready %}
 setInterval(function () {
        moveRight();
    }, 8000);

	var slideCount = $('#slider ul li').length;
	var slideWidth = $('#slider ul li').width();
	var slideHeight = $('#slider ul li').height();
	var sliderUlWidth = slideCount * slideWidth;

	$('#slider').css({ width: slideWidth, height: slideHeight });

	$('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

    $('#slider ul li:last-child').prependTo('#slider ul');

    function moveLeft() {
        $('#slider ul').animate({
            left: + slideWidth
        }, 200, function () {
            $('#slider ul li:last-child').prependTo('#slider ul');
            $('#slider ul').css('left', '');
        });
    };

    function moveRight() {
        $('#slider ul').animate({
            left: - slideWidth
        }, 500, function () {
            $('#slider ul li:first-child').appendTo('#slider ul');
            $('#slider ul').css('left', '');
        });
    };

    $('a.control_prev').click(function () {
        moveLeft();
    });

    $('a.control_next').click(function () {
        moveRight();
    });
            {% endblock %}
            });
    </script>
<div class="modal-backdrop"></div>
</body>
</html>

