{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>
            Your username and password didn't match.
            Please try again.
        </p>
    {% else %}
        <p>Please, use the following form to log-in. If you don't have an
            account <a href="{% url "register" %}">register here</a></p>

    {% endif %}
    <div id="login-form">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
  <div class="heading">Login to MediaShelf</div>
  <div class="left">
  <div class="fieldWrapper">
    {{ form.username.errors }}
    <label for="{{ form.username.id_for_label }}">Username:</label>
    {{ form.username }}
</div> <br />
<div class="fieldWrapper">
  {{ form.password.errors }}
  <label for="{{ form.password.id_for_label }}">Password:</label>
  {{ form.password }}
</div> <br />
<p><a href="{% url "password_reset" %}">Forgotten your
password?</a></p></br>
        <section>
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" value="Log-in">
    </section>
  </div>
  <div class="right">
    <div class="connect">Connect with:</div>
    <div class="form-last-row">
    <a href="{% url "social:begin" "facebook"%}" id="fbook">
      <span class="fa fa-facebook"></span>
    </a> <br />
  </div>
  <div class="form-last-row">
    <a href="{% url "social:begin" "twitter"%}" id="twitter">
      <span class="fa fa-twitter"></span>
    </a> <br />
  </div>
  <div class="form-last-row">
    <a href="{% url "social:begin" "google-oauth2"%}" id="google">
      <span class="fa fa-google-plus"></span>
    </a>
  </div>
  </div>
</form>

</div>
{% endblock %}
