        @import url(https://fonts.googleapis.com/css?family=Muli);
        @font-face{
        	font-family: 'Harabara';
        	src: url('fonts/harabara-webfont.eot');
        	src: url('fonts/harabara-webfont.eot?#iefix') format('embedded-opentype'),
        	     url('fonts/harabara-webfont.woff') format('woff'),
                 url('fonts/harabara-webfont.woff2') format('woff2'),
        	     url('fonts/harabara-webfont.ttf') format('truetype'),
        	     url('fonts/harabara-webfont.svg#webfont') format('svg');
        }
        @font-face{
            font-family: 'Caviardreams';
            src: url('fonts/caviardreams-webfont.eot');
            src: url('fonts/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
                 url('fonts/caviardreams-webfont.woff') format('woff'),
                 url('fonts/caviardreams-webfont.woff2') format('woff2'),
                 url('fonts/caviardreams-webfont.ttf') format('truetype'),
                 url('fonts/caviardreams-webfont.svg#webfont') format('svg');
        }
    body {
        margin: 0;
        padding: 0;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        color: #444;
        height:100%;
    }

    p {
        line-height: 1.8;
        display: block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
    }
    select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }

    a {
        color: #118C4E;
        text-decoration: none;
    }

    a:hover {
        color: #00a74f;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Muli', sans-serif;
        font-weight: normal;
    }

    h1 {
        display: block;
        border-bottom: 1px solid #bbb;
        padding: 0 0 10px 0;
        margin: 10px 0 10px 0;
        font-weight: bold;
    }

    h2 {
        margin: 30px 0 20px;
    }

    ol {
        line-height: 1.5;
    }

    #header {
        position: fixed;
        width: 100%;
        float: left;
        -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	-moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
        top: 0px;
        font-size: 14px;
        background: #C1E1A6;
        color: #fff;
        border-bottom: 1px solid #bbb;
        overflow: hidden;
        z-index: 1000;
    }
  
#header .header-inner{
  width:90%;
  height:auto;
  margin: 0 auto;
}

    #header .logo {
        font-family: 'Muli', sans-serif;
        position: relative;
        height:50px;
        width:230px;
        float: left;
        background: url("icons/Media_Shelfv2.png") no-repeat;
        margin-right: 7%;
        margin-top: 5px;
        margin-bottom:5px;
        cursor:pointer;
    }

    #header ul.menu {
        list-style: none;
        float: left;
        margin-top: 20px;
        padding: 0;
    }

    #header ul.menu li {
        float: left;
        padding: 4px 10px;
    }

    #header ul.menu li.selected a, #header ul.menu li.selected a:hover {
        font-weight: bold;
        padding: 0 0 17px 0;
        border-bottom: 2px solid #FF9009;
    }

    #header a {
        color: #585858;
    }

    #header a:hover {
        color: #fff;
    }

    #header .user {
        position: relative;
        display:block;
	width:auto;
	float: right;
        margin-right: 150px;
        border-radius: 0 0 8px 8px;
        background-color: #FF9009;
        padding: 4px 8px 4px 8px;
    }

    #header .user .username {
        position: relative;
        float:left;
	margin-top: 3px;
        font-size: 1.1em;
    }

    #header img {
        position: relative;
	float: left;
        border-radius: 50%;
        margin: 0px 6px 0 0;
        height: 25px;
        width: 25px;
    }

#header .user a {
	position: relative;
	float:left;
	margin-top: 3px;
}

#header .mobile-menu{
    display:none;
}
.dropdown-menu{
background-color: #fff;
border: 1px solid #eee;
border-radius: inherit;
font-weight: inherit;
right:5px;
top:60px;
padding: 0px 0 10px 0;
display:none;
pointer-events: none;
position: absolute;
border-radius: 4px;
text-transform: none;
text-align: center;
width: 140px;
z-index: 99999;
cursor:pointer;
border:1px solid #bbb;
border-top: 4px solid #118C4E;
-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
-webkit-transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
-ms-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in;
transition: all 0.3s ease-in;
}
.dropdown-menu h2 {
display: block;
background-color: #C1E1A6;
margin: 0px 0px 10px 0px;
text-align: center;
padding: 10px 0 10px 0;
font-size: 16px;
}
.dropdown-menu a { text-decoration: none;
color:#585858;
}

ul.dropdown-menu { list-style-type: none; }

.dropdown-menu li {
display: block;
padding: 5px 0px;
}
.dropdown-menu li.selected a{
border-bottom: 2px solid #FF9009;
}
.dropdown-menu.dropdown-active {
display:block;
pointer-events: auto;
}

.filter-dropdown{
background-color: #fff;
border: 1px solid #eee;
border-radius: inherit;
font-weight: inherit;
right:5px;
top:60px;
padding: 0;
display:none;
pointer-events: none;
position: absolute;
border-radius: 4px;
text-transform: none;
width: 160px;
z-index: 99999;
cursor:pointer;
pointer-events: auto;
border:1px solid #bbb;
border-top: 4px solid #118C4E;
-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
-webkit-transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
-ms-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in;
transition: all 0.3s ease-in;
}

.filter-dropdown.dropdown-active {
display:block;
pointer-events: auto;
}

.filter-dropdown h2 {
display: block;
background-color: #C1E1A6;
margin: 0px 0px 10px 0px;
text-align: center;
padding: 10px 0 10px 0;
font-size: 16px;
}
.filter-dropdown fieldset {
position:relative;
width:90%;
padding:0px 0px 10px 10px;
margin: 0 0 0px 0;
border:0px;
float:left;
font-size: 13px;
}
.filter-dropdown input{
float:left;
font-size: 13px;
display:block;
position: relative;
padding: 5px 5px 0px 5px;
margin:1px 0 0 0;
}
.filter-dropdown label{
display:block;
vertical-align: middle;
float:left;
font-size: 13px;
padding: 0 10px;
margin:-1;
cursor:pointer;
}


.filter-dropdown .item {
float:left;
clear:both;
margin: 0px 0px 5px 20px;

}
.filter-dropdown button {
background-color: #FF9009;
border: 1px solid #979797;
-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
display: block;
position: relative;
color: #ffffff;
line-height: 20px;
font-size: 16px;
font-weight: bold;
width: 55%;
text-decoration: none;
text-shadow: #585858 0 1px 0;
padding: 3px 0px 3px 0px;
margin:0 auto 10px auto;
cursor: pointer;
}


.filter-dropdown button:hover{
opacity: 0.85;
color: #585858;
cursor: pointer;
display: block;
}

.search-dropdown{
background-color: #fff;
border: 1px solid #eee;
border-radius: inherit;
font-weight: inherit;
right:5px;
top:120px;
padding: 0;
display:none;
pointer-events: none;
position: absolute;
border-radius: 4px;
text-transform: none;
width: 220px;
height: 55px;
z-index: 99999;
cursor:pointer;
pointer-events: auto;
border:1px solid #bbb;
border-top: 4px solid #118C4E;
-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
-webkit-transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
-ms-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in;
transition: all 0.3s ease-in;
}

.search-dropdown.dropdown-active {
display:block;
pointer-events: auto;
}

.my-fa-friends:before {
    content: "\f064";
}

.my-fa-bird:before {
  content: "\f081";
}
.my-fa-zuck:before {
  content: "\f230";
}
.title-bar{
    display: block;
    border-bottom: 1px solid #bbb;
    padding: 0 0 0 0;
    margin: 10px 0 15px 0;
}
.title-bar h1{
    display:block;
    float:left;
    font-weight: bold;
    font-size: 2em;
    border:0px;
    padding:0;
    margin:0;
}
.title-bar form{
    display:block;
    float:right;
    margin: 10px 10px 0 0;
    padding:0;
}

.title-bar button{
    height: 30px;
    padding: 1px 7px;
    cursor:pointer;
    margin:0;
    
}

.title-bar input{
    border-right: 0;
}
#mobile-search-icon{
    display:none;
    float:right;
    margin: 6px 0px 0 0;
    padding:0
}
    #content {
        margin: 45px 0 0px 0;
        padding: 15px 80px 0 80px;
        height:100%;

    }

#item-content{
    display:block;
    float:left;
    width:85%;
    margin:0;
    padding:0;
}
#banner{
    display:block;
    background: url("global_images/mainpage2-2.jpeg") no-repeat;
    background-position: top left, center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: calc(100% + 160px);
    height:100%;
    margin-left: -80px;
    margin-right: -20px;
    text-align: center;
    color:#fff;
    padding-top: 7%;
}
#banner h2{
    margin:0;
    font-size: 49px;
    font-weight: bold;
    font-family: 'Harabara';
    padding:0 0 10px 0;
}

#banner p{
    margin:0;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Caviardreams';
    padding:0 0 55px 0;
}
#banner #mainpage_buttons{
    width:100%;
    text-align:center;
}
#banner ul{
    display:block;
    list-style: none;
    width:30%;
    margin:auto;
    text-align: center;
    padding:0;

}
#banner .button{
    display:inline-block;
    background-color: #FF9009;
    font-weight: bold;
    float:right;
    margin:  0 auto 15px auto;
    height: 2em;
    line-height: 2em;
    width: 35%;
    border-radius: 6px;
    text-transform: none;
}

#banner .button:hover{
    opacity: 0.85;
    color: #585858;
    cursor: pointer;
}

#banner .button.special{
    float:left;
    background:rgba(255,255,255,0.6);
    color:black;
}

#banner .button.special:hover{
    background-color: #fff;
    opacity: .25;
}

#banner .button.demo{
        background:rgba(255,255,255,0.6);
        color:black;
	margin:auto;
	float:none;
}

#banner .button.demo:hover{
    background-color: #fff;
    opacity: .25;
	cursor:pointer;

}
html{
    height:100%;
}
#right-sidebar{
    display: block;
    float:right;
    width:14%;
    position: relative;
    margin: 0px 0px 10px 0px;
    border:1px solid #bbb;
    border-top: 4px solid #118C4E;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
#right-sidebar h2 {
    display: block;
    background-color: #C1E1A6;
    margin: 0px 0px 10px 0px;
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 16px;
}
#right-sidebar fieldset {
    position:relative;
    width:auto;
    padding:3px;
    margin: 0 0 0px 0;
    border:0px;
    float:left;
    font-size: 13px;
}
#right-sidebar input{
    float:left;
    font-size: 13px;
    display:block;
    position: relative;
    padding: 5px 5px 0px 5px;
    margin:1px 0 0 0;
}
#right-sidebar label{
    display:block;
    vertical-align: middle;
    float:left;
    font-size: 13px;
    padding: 0 10px;
    margin:-1;
    cursor:pointer;
}


#right-sidebar .item {
    float:left;
    clear:both;
    margin: 0px 0px 5px 15px;

}
#right-sidebar button {
    background-color: #FF9009;
    border: 1px solid #979797;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    display: block;
    position: relative;
    color: #ffffff;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    width: 55%;
    text-decoration: none;
    text-shadow: #585858 0 1px 0;
    padding: 3px 0px 3px 0px;
    margin:0 auto 10px auto;
    cursor: pointer;
}


#right-sidebar button:hover{
    opacity: 0.85;
    color: #585858;
    cursor: pointer;
    display: block;
}
    /* modal popup global*/

    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.61);
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

/*how to save page*/
#right{
    float:right;
    width:23%;
    margin: 30px 0 0 0;
}
#browser-extension{
    margin: 0 0 20px 30px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #bbb;
}
#bookmark-bar{
    margin: 0 0 0 30px;

}
#browser-extension-right{
    margin:0;
    height:250px;
}

#extension_icons img{
	margin-right: 15px;
	cursor: pointer;
}

#bookmark-bar-right{
        margin: 10px 0 0 0;
}
    /* forms */

    form {
        overflow: auto;
    }

    form p {
        width: 100%;
        overflow: auto;
    }

    label[for="id_title"], label[for="id_description"] {
        float: left;
        clear: both;
        color: #333;
        margin-bottom: 4px;
    }

    input, textarea {
        clear: both;
        float: left;
        margin: 0 0 10px;
        background: #fff;
        border: 1px solid #979797;
        padding: 6px 10px;
        font-size: 14px;
    }

    input[type=submit], a.button {
           background-color: #FF9009;
    border: 1px solid #979797;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    text-shadow: #585858 0 1px 0;
    color: #fff;
    outline: none;
    padding: 0.8em 1.2em;
    margin: 0 auto;
    display:block;
    overflow: hidden;
    letter-spacing: 0.1em;
    font-weight: bold;
    }
 input[type="submit"]:hover, a.button:hover {
    opacity: 0.85;
    color: #585858;
    cursor: pointer;
    display: block;
}

    .errorlist {
        color: #fff;
        margin: 0;
        clear: both;
        padding:12px 20px;
	font-weight:bold;
	list-style:none;
	background-color:#81ce81;
    }

    .helptext {
        margin: 0 0 0 0;
        color: #979797;
        clear: both;
        float: left;
        font-size: 13px;
    }
    /* messages */

    ul.messages {
        margin: 10px 100px;
        padding: 0;
        list-style-type: none;
    }

    ul.messages li.success, ul.messages li.warning, ul.messages li.error, ul.messages li.info {
        margin: 0;
        padding: 14px 20px;
        list-style: none;
        color: #fff;
    }

    ul.messages li.success {
        background: #81ce81;
    }

    ul.messages li.success a {
        color: #0ac33e;
    }

    ul.messages li.error {
        background: #a30029;
        color: #e9828e;
    }

    ul.messages li.error a {
        color: #e9828e;
    }

    ul.messages li.info {
        background: #faffae;
        color: #696b4e;
    }

    ul.messages li.info a {
        color: #1586de;
    }

    ul.messages li.warning {
        background: #de9404;
    }

    ul.messages li.warning a {
        color: #f49000;
    }

    ul.messages li a.close {
        margin: 0;
        float: right;
        opacity: 1;
        border: 0;
        box-shadow: none;
        text-shadow: none;
    }
/*login-form*/


#login-form, #regedit-form {
  border-top: 3px solid #118C4E;
  width: 60%;
  margin: 10px 2em 0px 2em;
  overflow: hidden;
  position: relative;
  color: #5f5f5f;
  border-radius:0.3em;
  box-shadow:0 0 0.2em #000;
}

#regedit-form {
  margin: 20px 2em 0px 2em;
}
 .heading {
    background: #C1E1A6;
    color: #5f5f5f;
    text-align: center;
    font-weight: bold;
    padding: 1.0em;
    margin-bottom: .5em;
  }

 .left {
    width: 50%;
    float: left;
    padding: 1.0em 1.5em 1.7em 1.5em;
    display:inline-block;
    box-sizing:border-box;
  }

 .right {
    width: 50%;
    float: left;
    padding: 1.0em 1.5em 1.7em 1.5em;
    display:inline-block;
    box-sizing:border-box;

  }
.right .form-last-row{
    width:100%;

}
  #login-form:before {
    content: 'or';
    color: #979797;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 0.5em;
    width: 0.5em;
    left: -1.5em;
    top: 1.2em;
    z-index: 900;
  }

 #login-form:after {
    content: '';
    position: absolute;
    background: #969696;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 7.25em;
    width: 1px;
    left: -0.85em;
    top: -6.8em;
    box-shadow:0 8.8em 0 0 #969696;
  }

 #regedit-form:after {
    content: '';
    position: absolute;
    background: #969696;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 7.25em;
    width: 1px;
    left: -0.85em;
    top: -6.8em;
    box-shadow:0 8.8em 0 0 #969696;
  }

#login-form .fieldWrapper, #regedit-form .fieldWrapper {
    position:relative;
    display:block;
    width:100%;
    float:left;
}
#login-form, #regedit-form .left label{
    display: inline-block;
    color: rgba(#585858, 0.65);
    font-size: 1.1em;

  }
  #regedit-form input[type="checkbox"],#regedit-form input[type="file"] {
      display: block;
      position: relative;
      float: left;
      margin: 5px;
      background: #fff;
      border: 0;
      padding: .5em;
      font-size: 14px;
  }


#login-form input[type="text"], #regedit-form input[type="text"], #login-form input[type="password"], #regedit-form input[type="password"], #login-form input[type="email"], #regedit-form input[type="email"]
 {
    display:block;
    float:left;
    clear:both;
    border: 0.1em solid #979797;
    padding: 1em;
    margin: 0.6em 20px 0.6em 0;
    width: 75%;
    color: #585858;
    background-color: #ffffff;
    border-radius:1px;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

#login-form #form_submit_section, #regedit-form #form_submit_section{
    position:relative;
    display:block;
    width:100%;
    float:left;
    text-align:center;
    margin-top:0.6em;
}

#login-form p, #regedit-form p {
   position:relative;
   display:block;
   float:left;
 
}
#login-form input[type="submit"], #regedit-form input[type="submit"] {
    background-color: #FF9009;
    border: 1px solid #979797;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    text-shadow: #585858 0 1px 0;
    color: #fff;
    width: 75%;
    outline: none;
    padding: 1.0em;
    margin: 0 auto;
    display:block;
    overflow: hidden;
    letter-spacing: 0.1em;
    font-weight: bold;
}
#login-form input[type="submit"]:hover, #regedit-form input[type="submit"]:hover {
    opacity: 0.85;
    color: #585858;
    cursor: pointer;
    display: block;
}


  .connect {
    color: #585858;
    font-size: 1.1em;
    text-align: center;
    width:100%;
  }

.right  a {
    display: block;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    max-width: 9em;
    padding: 0.55em 0.3em;
    clear: both;
    text-align: center;
    margin: 0.3em auto;
    cursor: pointer;
    border-radius:0.3em;
  }

 #login-form #fbook{
    background: #3a589a;


}
    #login-form #fbook:hover {
      opacity: .85;
    }


 #login-form #twitter {
    background: #4099ff;
}
    #login-form #twitter:hover {
      opacity: .85;
    }


 #login-form #google {
    background: #e9544f;
    transition:(0.15s all ease-in-out);
}
    #login-form #google:hover {
      opacity: .85;
    }

    /* dashboard content slider */
    #home-main-content{
        display: block;
        width: 75%;
        margin: 5px 10px 10px 10px;
        float: left;
		text-align:center;
    }
    #slider {
      position: relative;
      display: inline-block;
      overflow: hidden;
      border: 1px solid #bbb;
      margin: 0px 0px 5px 0px;
    max-width:100%;
  text-align:center;
      border-radius: 4px;
      -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    }

    #slider ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #slider ul li {
        position: relative;
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
        width: 750px;
        height: 325px;
        background: #cccccc;
        text-align: center;
        line-height: 300px;
    }

    span.slider_title {
        position: absolute;
        bottom: 20px;
        left: 0;
        height: 15px;
        width: 100%;
        text-align: top;
        line-height: 30px;
    }

    span.slider_title div {
        color: #fff;
        border-radius: 4px;
        background-color: #FF9009;
        display: inline-block;
        padding: 0 8px 0 8px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        max-width: 450px;
        height: 2em;
        overflow: hidden;
        opacity: 0.8;
    }

    span.item-type {
        position: absolute;
        top: 10px;
        left: -210px;
        height: 15px;
        width: 100%;
        text-align: top;
        line-height: 30px;
    }

    span.item-type div {
        color: #fff;
        border-radius: 4px;
        background-color: #FF9009;
        display: inline-block;
        padding: 0 8px 0 8px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        max-width: 400px;
        overflow: hidden;
        opacity: 0.8;
    }

    a.control_prev, a.control_next {
        position: absolute;
        top: 40%;
        z-index: 999;
        display: block;
        padding: 2% 2%;
        width: auto;
        height: auto;
        background: #2a2a2a;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        opacity: 0.5;
        -moz-box-shadow: 0 0 5px #fff;
        -webkit-box-shadow: 0 0 5px #fff;
        box-shadow: 0px 0px 5px #fff;
        cursor: pointer;
    }

    a.control_prev:hover, a.control_next:hover {
        opacity: 0.7;
        -webkit-transition: all 0.2s ease;
    }

    a.control_prev {
        left: 8px;
        border-radius: 2px 2px 2px 2px;
    }

    a.control_next {
        right: 8px;
        border-radius: 2px 2px 2px 2px;
    }

    .slider_option {
        position: relative;
        margin: 10px auto;
        width: 160px;
        font-size: 18px;
    }
    #action-widgets{
        display:block;
        position:relative;
        float: left;
        clear: left;
        width:100%;
        padding:10px 0px 10px 0px;
        text-align: center;
    }
    #action-widgets .action-widgets{
        display:inline-block;
        width:31%;
        background-color: #fff;
        border-top: 6px solid #118C4E;
        -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        margin: 0 12px 0 0;
        height: 9.5em;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;

    }

#action-widgets .action-widgets:hover{
        background-color: #cccccc;
}
    .action-widgets span {
        margin-top: 1.5em;
        display:inline-block;
        vertical-align: middle;
        width:100%;
        color: #ffffff;
    }
    .action-widgets i{
        cursor:pointer;
    }
    .action-widgets div{
        margin-top: .5em;
        display:inline-block;
        vertical-align: middle;
font-weight: bold;
width:100%;
}
    /* images */

    .image-preview, .image-detail {
        max-width: 400px;
        float: left;
        margin: 0 20px 20px 0;
    }

    .image-detail {
        margin-top: 20px;
    }

    .image-info  {
        padding: 5px;
        margin: 1.4em 10em 0 .3em;
        overflow: auto;
    }

    .count {
        color: #aaa;
        border: 3px solid #bbb;
        border-radius: 26px;
        padding: 10px 20px;
        margin: 20px 10px 0;
    }

    a.like, a.follow {
        float: right;
        margin-top: -8px;
    }

    #image-list {
        overflow: auto;
    }

    #image-list .image {
        position: relative;
        float: left;
        width: 220px;
        height: 300px;
        margin: 0 10px 10px 10px;
        border-top: 8px solid #118C4E;
        background: #eee;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        overflow: hidden;
    }

    #image-list .image p {
        color: #333;
        font-size: 12px;
        margin: 0;
        line-height: 1.25;
    }

    #image-list img:hover {
        opacity: 0.4;
    }

    #image-list .buttons {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1.4em;
        opacity: 0;
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: #343030;
    }

    #image-list .buttons:hover {
        cursor: pointer;
    }

    #image-list .image:hover .buttons {
        opacity: 1.0;
        background: #eee;
    }

    #image-list .buttons li {
        width: 1.6em;
        display: inline-block;
        float: right;
        padding: 2px 0 2px 0;
    }

    #image-list .id-text {
        height: 1.2em;
        font-size: .9em;
        font-weight: bold;
        background-color: #FF9009;
        color: #FFFFFF;
        border: 0px solid #585858;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        display: none;
        padding: 2px 3px 0px 3px;
    }

    #image-list .deleteButton:hover #delete {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -25px;
    }

    #image-list .imageEditButton:hover #edit {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -8px;
    }

    #image-list .downloadButton:hover #download-image {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -8px;
    }

    #image-list .downloadButton a {
        color:#343030;
        cursor: pointer;
    }

    #image-list img {
        width: 220px;
        height: 220px;
    }

    #image-list .info {
        padding: 10px;
    }

    #image-list .info a {
        color: #333;
    }

    .image-likes div {
        float: left;
        width: auto;
        padding: 10px;
        text-align: center;
    }

    .image-likes img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .image-edit-form-mini-container {
        max-width: 315px;
        margin: 0 auto;
        border-top: 3px solid #118C4E;
          border-radius:0.3em;
        font: normal 18px sans-serif;
        text-align: center;
        color: #5f5f5f;
        position: fixed;
        top: 53%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 990;
        display: none;
    }

    .image-edit-form-mini-container .popupHeader {
        font-size: 16px;
        text-transform: uppercase;
    }

    .image-edit-form-mini-container .popupHeader {
        background: #C1E1A6;
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #DDD;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
        font-weight: bold;
    }

    .image-edit-form-mini-container .popupHeader .edit-modal-close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        background: #C1E1A6;
        cursor: pointer;
        color: #585858;
        font-size: 16px;
    }

    /*websites*/

#website-list {
        overflow: auto;
    }

    #website-list .image {
        position: relative;
        float: left;
        width: 220px;
        height: 60px;
        margin: 0 10px 10px 0px;
        border-top: 8px solid #118C4E;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding-right: 2px;
        overflow: hidden;
        background: #eee;
    }


    #website-list img:hover {
        opacity: 0.4;
        filter: alpha(opacity=30);
    }

    #website-list .buttons {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1.4em;
        opacity: 0;
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: #343030;
    }

    #website-list .buttons:hover {
        cursor: pointer;
    }

    #website-list .image:hover .buttons {
        opacity: 1.0;
        background: #eee;
    }

    #website-list .buttons li {
        width: 1.6em;
        display: inline-block;
        float: right;
        padding: 2px 0 2px 0;
    }

    #website-list .id-text {
        height: 1.2em;
        font-size: .9em;
        font-weight: bold;
        background-color: #FF9009;
        color: #FFFFFF;
        border: 0px solid #585858;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        display: none;
        padding: 2px 3px 0px 3px;
    }

    #website-list .deleteButton:hover #website-delete {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -25px;
    }

    #website-list .editButton:hover #website-edit {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -8px;
    }

    #website-list .friendButton:hover #website-share {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -12px;
    }

    #favicon-holder {
        width:25%;
        padding:0;
        margin:0;
    }

    #website-list #site-favicon {
        display: inline-block;
        float:left;
        margin: 10px 0 0 10px;
        width:30px;
        height: 30px;
    }

    #website-list .info {
        display:inline-block;
        float: left;
        margin: 10px 0 0 15px;
        width: 75%;
    }

    #website-list .info a {
        line-height: 1.10em;
        color: #333;
        margin: 0;
        max-width: 75%;
    }

    #website-list .info .title {
        display: block;
        padding-right: 2px;
        width:95%;
    }


    #website-list .info .category {
        display:block;
        width:100%;
        font-size: 13px;
        color: #118C4E;
    }

    .form-mini .website-image {
        margin-bottom: 28px;
    }
    .friend-form-mini .website-image {
        margin-bottom: 8px;
    }

    /* article list */

.friend-div {
        display: none;
    }

    #article-list {
        overflow: auto;
    }

    #article-list .image {
        position: relative;
        float: left;
        width: 220px;
        height: 300px;
        margin: 0 10px 10px 0px;
        border-top: 8px solid #118C4E;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        overflow: hidden;
        background: #eee;
    }

    #article-list img:hover {
        opacity: 0.4;
        filter: alpha(opacity=30);
    }

    #article-list .buttons {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1.4em;
        opacity: 0;
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: #343030;
    }

    #article-list .buttons:hover {
        cursor: pointer;
    }

    #article-list .image:hover .buttons {
        opacity: 1.0;
        background: #eee;
    }

    #article-list .buttons li {
        width: 1.6em;
        display: inline-block;
        float: right;
        padding: 2px 0 2px 0;
    }

    #article-list .id-text {
        height: 1.2em;
        font-size: .9em;
        font-weight: bold;
        background-color: #FF9009;
        color: #FFFFFF;
        border: 0px solid #585858;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        display: none;
        padding: 2px 3px 0px 3px;
    }

    #article-list .deleteButton:hover #article-delete {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -25px;
    }

    #article-list .articleEditButton:hover #article-edit {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -8px;
    }

    #article-list .friendButton:hover #article-share {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -12px;
    }

    #article-list img {
        width: 220px;
        height: 220px;
    }

    #article-list .info {
        padding: 6px;
    }

    #article-list .info a {
        line-height: 1.40em;
        color: #333;
    }

    #article-list .info .category {
        display: none;
    }

    .form-mini .article-image {
      display:inline-block;
        margin-bottom: 28px;
    }
    /*article view*/

    #main-content{
        display: block;
        width: 75%;
        margin: 5px 10px 10px 10px;
        float: left;
    }

    #article-view {
        position:relative;
        padding:0;
        margin:0;
        display: block;
        width: 100%;
    }
    #article-view #top-section{
        display: block;
        float:left;
        margin: 0 0 10px 0;
        width: 100%;
    }

    #article-view #original-url{
        display: block;
        float:left;
        width: 50%;
    }
    #article-view #pdf{
        display: block;
        float:right;
        width: 50%;
    }
    #article-view #download-pdf{
        float:right;
        margin-left: 15px;
        background-color: #C1E1A6;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        display: inline-block;
        border-radius: 50%;
        margin: 0px 10px 0px 85px;
        height: 35px;
        width: 35px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        position: relative;
        color: #ffffff;
        cursor: pointer;
    }

    #article-view #download-pdf a {
        position: relative;
        display: table-cell;
        font-size: 1em;
        color: #118C4E;
        height: 35px;
        width: 35px;
        vertical-align: middle;
        text-align: center;
    }

    #article-view #download-pdf:hover {
        position: relative;
        top: -5px;
    }

    #article-view #pdf-text {
        display: inline-block;
        float:right;
        clear:left;
        font-size: 1em;
        color: #585858;
        margin: 8px 0px 0px 15px;
    }


    #article-view .text-node {
        margin: 0 10px 0 50px;
        width: 73%;
    }

    #article-view img {
        margin: 20px 20px 20px 0px;
    }

    #article-view span {
        display: block;
        width: 100%;
        margin: 0 0 10px 0;
    }
    /*article-view pdf*/

    #article-main-content-pdf {
        display: block;
        width: 100%;
        float: left;
        font-size: 18px;
        color: #000000;
    }

    #article-view-pdf {
        display: block;
        width: 100%;
    }

    #article-view-pdf .text-node {
        margin: 0 0px 0 0px;
        width: 100%;
    }

    #article-view-pdf img {
        margin: 20px 20px 20px 0px;
    }
    /*right-sidebar*/

    #home-right-sidebar {
        position: relative;
        display: block;
        float: right;
        width: 22%;
        margin: 0px 10px 10px 0px;
        border:1px solid #bbb;
        border-top: 4px solid #118C4E;
        border-radius: 6px;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    }
#home-right-sidebar h2 {
    display: block;
    background-color: #C1E1A6;
    margin: 0px 0px 10px 0px;
    text-align: center;
    padding: 10px 0 10px 0;

}

    #home-right-sidebar ul {
        position:relative;
      width:90%;

      list-style: none;
    border-bottom: 1px solid #bbb;
          margin: 0 5px 0 5px;
      padding:5px;
      font-size: 13px;
      overflow: hidden;
}


      #home-right-sidebar #action-item
        {
            display:block;
            float:left;
            padding:5px;
            margin: 0;
            font-weight: bold;
        }

        #home-right-sidebar #action-created
          {
              display:block;
              float:right;
              padding:5px;
              margin: 0;
          }

          #home-right-sidebar #action-verb
            {
                display:block;
                float:left;
                padding:5px;
                margin: 0;
            }
    /* videos */

    #video-list {
        overflow: auto;
    }

    #video-list .image {
        position: relative;
        float: left;
        width: 130px;
        height: 212px;
        margin: 0 10px 10px 10px;
        border-top: 8px solid #118C4E;
        background: #eee;
        overflow: hidden;
        font-size: 14px;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }

    #video-list img:hover {
        opacity: 0.4;
        cursor: pointer;
    }

    #video-list .buttons {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1.4em;
        opacity: 0;
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: #343030;
    }

    #video-list .buttons:hover {
        cursor: pointer;
    }

    #video-list .image:hover .buttons {
        opacity: 1.0;
        background: #eee;
    }

    #video-list .buttons li {
        width: 1.6em;
        display: inline-block;
        float: right;
        padding: 2px 0 2px 0;
    }

    #video-list .id-text {
        height: 1.2em;
        font-size: .9em;
        font-weight: bold;
        background-color: #FF9009;
        color: #FFFFFF;
        border: 0px solid #585858;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        display: none;
        padding: 2px 3px 0px 3px;
    }

    #video-list .deleteButton:hover #delete {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -25px;
    }

    #video-list .editButton:hover #edit {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -8px;
    }

    #video-list .friendButton:hover #share {
        display: inline-block;
        position: relative;
        top: -34px;
        left: -12px;
    }

    #video-list img {
        width: 130px;
        height: 173px;
    }

    #video-list .info {
        position: relative;
        padding: 2px;
        height: 29px;
    }

    #video-list .info a {
        color: #333;
    }

    #video-list .info .category {
        display: none;
    }
    /* video-list popups */

    .edit-form-mini-container {
        max-width: 315px;
        margin: 0 auto;
        border-top: 3px solid #118C4E;
        font: normal 18px sans-serif;
        text-align: center;
        color: #5f5f5f;
        position: fixed;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 990;
        display: none;
    }

    .edit-form-mini-container .popupHeader {
        font-size: 16px;
        text-transform: uppercase;
    }

    .edit-form-mini-container .popupHeader {
        background: #C1E1A6;
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #DDD;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
        font-weight: bold;
    }

    .edit-form-mini-container .popupHeader .edit-modal-close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        background: #C1E1A6;
        cursor: pointer;
        color: #585858;
        font-size: 16px;
    }

    .form-mini {
        box-sizing: border-box;
        padding: 37.5px;
        background-color: #ffffff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .form-mini .video-image {
      display:inline-block;
        margin-bottom: 28px;
    }

    .form-mini .form-row {
        display: block;
        text-align: left;
        margin-bottom: 23px;
        width: 100%;
    }
.form-mini textarea{color: #585858;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #979797;
    border-radius: 8px;

}
    .form-mini input, .form-mini select {
        box-sizing: border-box;
        width: 240px;
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
        padding: 12px 18px;
        border: 1px solid #979797;
        color: #585858;
        border-radius: 8px;
    }

    .form-mini select {
        color: inherit;
        background-color: #ffffff;
    }

    .form-mini .form-last-row {
        margin: 35px auto 0;
    }

    .form-mini button {
        background-color: #FF9009;
        border: 1px solid #979797;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        display: block;
        position: relative;
        color: #ffffff;
        line-height: 31px;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        text-decoration: none;
        text-shadow: #585858 0 1px 0;
        padding: 5px 0px 5px 0px;
        cursor: pointer;
    }

    .form-mini button:hover {
        opacity: 0.85;
        color: #585858;
        cursor: pointer;
        display: block;
    }
    /* Placeholder color */

    .form-mini ::-webkit-input-placeholder {
        color: #999;
    }

    .form-mini ::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .form-mini :-ms-input-placeholder {
        color: #999;
    }
    /*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

    @media (max-width: 600px) {
        .form-mini-container {
            margin-top: 0;
        }
    }
    /*share form popup*/

    .friend-form-mini-container {
        max-width: 315px;
        margin: 0 auto;
        border-top: 3px solid #118C4E;
        font: normal 18px sans-serif;
        text-align: center;
        color: #5f5f5f;
        position: fixed;
        top: 52%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 990;
        display: none;
    }

    .friend-form-mini-container .popupHeader {
        font-size: 16px;
        text-transform: uppercase;
    }

    .friend-form-mini-container .popupHeader {
        background: #C1E1A6;
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #DDD;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
        font-weight: bold;
    }

    .friend-form-mini-container .popupHeader .friend-modal-close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        background: #C1E1A6;
        cursor: pointer;
        color: #585858;
        font-size: 16px;
    }

    .friend-form-mini {
        box-sizing: border-box;
        padding: 40px 40px 20px 40px;
        background-color: #ffffff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .friend-form-mini .item-image {
        display:inline-block;
        margin-bottom: 28px;
    }

    .friend-form-mini div.form-last-row {
        margin: 5px auto 0;
        width: 100%;
    }

    .friend-form-mini a.friend-button {
        background-color: #FF9009;
        border: 1px solid #979797;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        text-decoration: none;
        text-shadow: #585858 0 1px 0;
        text-align: left;
        padding: 5px 0px 5px 0px;
        margin-right: 30px;
        margin-bottom: 15px;
        display: block;
        position: relative;
        color: #ffffff;
        line-height: 24px;
        font-weight: bold;
        font-size: 16px;
        width: 100%;
    }

    .friend-form-mini a.friend-button:hover {
        opacity: 0.85;
        color: #585858;
        cursor: pointer;
        display: block;
    }

    .friend-form-mini a.friend-button i {
        margin: 3px 0px 0 30px;
        display: inline-block;
        float: left;
    }

    .friend-form-mini a.friend-button span i div.media-shelf-icon {
        display: inline-block;
    }

    .friend-form-mini a.friend-button span {
        display: inline-block;
        margin: 0 0 0 10px;
    }

    .friend-form-mini a.friend-button div.media-shelf-icon {
        background: url("icons/media_shelf1.png") no-repeat;
        display: inline-block;
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
        margin: 3px 0px 0 30px;
        float: left;
    }


    /* Placeholder color */

    .friend-form-mini ::-webkit-input-placeholder {
        color: #999;
    }

    .friend-form-mini ::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .friend-form-mini :-ms-input-placeholder {
        color: #999;
    }
    /*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */


    /*delete form popup*/

    .delete-form-mini-container {
        max-width: 315px;
        margin: 0 auto;
        border-top: 3px solid #118C4E;
        font: normal 18px sans-serif;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        z-index: 990;
        color: #5f5f5f;
        display: none;
    }

    .delete-form-mini-container .popupHeader {
        font-size: 16px;
    }

    .delete-form-mini-container .popupHeader {
        background: #C1E1A6;
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #DDD;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
        font-weight: bold;
    }

    .delete-form-mini-container .popupHeader .modal_close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        background: #C1E1A6;
        cursor: pointer;
        color: #585858;
        font-size: 16px;
    }

    .delete-form-mini {
        box-sizing: border-box;
        padding: 5px 10px 5px 10px;
        position: relative;
        background-color: #ffffff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        width: 315px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .delete-form-mini .form-last-row {
        display: inline-block;
        padding: 10px;
        position: relative;
        width: 35%;
        margin: 5px;
    }

    .delete-form-mini button {
        background-color: #FF9009;
        border: 1px solid #979797;
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        display: block;
        float: left;
        position: relative;
        color: #ffffff;
        line-height: 31px;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        text-decoration: none;
        text-shadow: #585858 0 1px 0;
        cursor: pointer;
    }

    .delete-form-mini button:hover {
        opacity: 0.85;
        color: #585858;
        cursor: pointer;
        display: block;
    }
    /* Placeholder color */

    .delete-form-mini ::-webkit-input-placeholder {
        color: #999;
    }

    .delete-form-mini ::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .delete-form-mini :-ms-input-placeholder {
        color: #999;
    }
    /*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

    @media screen and (max-width: 64rem) {
        .delete-form-mini-container {
            margin-top: 0;
        }
        .share-form-mini-container {
            margin-top: 0;
        }

	#login-form input, #regedit-form input {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	}
        .menu{
            display:none;
        }
        #header .user{
            display:none;
        }
        #header .logo{
            margin-right: 0;
            width:180px;
        }
        #header .mobile-menu{
            display:inline-block;
            float:right;
            margin:15px 0 0 0;
            width:33.3333%;
        }
        #header .mobile-icon {
            display:inline-block;
            float:right;
            color:#585858;
            cursor: pointer;
        }
        #header #drop-down-menu{
            margin-left: 30px;
        }
        #right-sidebar{
          display:none;
        }
        #content{
            padding: 0px 30px 0px 30px;
            min-width: 90%;
            margin: 55px 0px 0 0px;
        }
        #main-content{
            min-width: 100%;
            font-size: 18px;
        }

      #item-content{
         min-width: 100%;
          padding:30px 0 0 15px;
      }
      #banner{
          margin-left: -30px;
          height:105%;
      }
      #banner h2{
          margin-top: 7%;
          font-size: 4em;
      }
      #banner p{
          font-size: 30px;

      }
      #banner ul{
          width:60%;
          text-align: center;
      }
      #banner .button{
          display:inline-block;
          float:none;
          min-width: 15em;
          height:4em;
          line-height: 4em;
      }
      #banner .button.special{
          display:inline-block;
          float:none;
      }
      #banner a.button {
          font-size: 20px;
      }
      #article-list{
	min-width: 100%;
	text-align: center;
      }
 .article-table-responsive{
     display:inline-block;
      }
      #article-list .image{
          display:block;
          text-align: left;
          margin: 0 13px 10px 0;
      }
      #article-list .buttons{
          opacity:1;
          background: #eee;
	  cursor:pointer;
      }
      #website-list .buttons{
          opacity:1;
	  cursor:pointer;
      }
      #video-list .buttons{
          opacity:1;
          background: #eee;
	  cursor:pointer;
      }


      .title-bar{
          padding: 15px 15px 10px 15px;
      }

      .title-bar button{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
h1{
    padding-top: 15px;
}
#login-form, #regedit-form{
    width:75%;
}
#home-right-sidebar{
    margin: 0 0 10px 0;
}
      }

      @media screen and (max-width: 48rem) {
          #home-right-sidebar{
              display:none;
          }
          #home-main-content{
              display:inline-block;
              width:97%;
              text-align: center;
          }
          #action-widgets{
              padding: 10px 0 10px 7px;
          }
      }
/* phone media query */
    @media screen and (max-width: 46rem) {
        body{
            width:100%;
            float:left;
        }
        #content{
            float:left;
            min-width: 95%;
            padding: 0 12px 0 12px;;
        }
        #banner {
          margin-left: -20px;
          width: calc(100% + 180px);
          height:auto;
        }
        #banner ul{
          -webkit-padding-start:0px;
          margin:0 auto 0 auto;

        }
        #banner .button{
            display:inline-block;
          min-width: 12em;
        }
        #banner .button li{
            display:inline-block;
        }
        #item-content{
            padding: 30px 0 0 0;
            text-align: center;
        }
        #article-list .image{
            min-width: 100%;
            height:150px;
        }
        #article-list img{
            width:150px;
            height:150px;
            display:inline-block;
            float:right;
        }
        #article-list .info{
            padding: 15px 170px 0 30px;
        }
        #article-list .buttons{
            width:50%;
            margin: 0 160px 5px 0;
        }
        #website-list .buttons{
            width:90%;
            margin: 0 10px 5px 0;
        }
        #image-list .buttons{
            width:50%;
            margin: 0 0px 5px 0;
        }

        #main-content{
            position:relative;
            min-width: 95%;
        }
        #article-view{
            min-width: 95%;
        }
        #article-view img{
            width:90%;
            height:auto;
            display:block;
            margin:20px auto 20px auto;
        }
        #article-view #original-url{
            width: 35%;
        }
        #article-view #pdf{
            display:inline-block;
            width: 60%;
        }
        #article-view #download-pdf{
            margin:0;
        }
        #article-view .text-node{
            width: 95%;
            margin:10px auto 10px auto;
            padding:0;
        }
        #item-content{
            padding-top: 0px;
        }
        #searchform{
            display:none;
        }
        #mobile-search-icon {
            display:inline-block;
            float:right;
            color:#585858;
            cursor: pointer;
        }
        .friend-form-mini{
            padding:20px;
        }
        .friend-form-mini .item-image{
            display:inline-block;
            float:none;
            margin: 10px auto 20px auto;
        }
        .friend-form-mini a.friend-button {
            display:inline-block;
            margin: 0 0 5px 0;
            width: 225px;
            padding: 8px 0 8px 0;
        }
        .friend-form-mini a.friend-button i{
            margin: 3px 0 0 20px;
        }
        .friend-form-mini a.friend-button div.media-shelf-icon{
            margin: 3px 0 0 20px;
        }
        #image-list{
            text-align: center;
            display:inline-block;
        }
    #image-list .image{
        display:inline-block;
        width:330px;;
        height:430px;
        float:none;
        text-align: left;
    }
    #image-list .image img{
        display:inline-block;
        width:330px;;
        height:330px;
    }
    .image-detail{
        display:block;
        max-width: 330px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        float:none;
    }

    .image-info{
        disply:block;
        clear:both;
        margin:0.3em auto 0.3em auto;
    }
    #video-list .image{
        float:none;
        display:inline-block;
        margin: 0 0 10px 10px;
    }
    #login-form input[type="text"], #regedit-form input[type="text"],
    #login-form input[type="password"], #regedit-form input[type="password"],
    #login-form input[type="email"], #regedit-form input[type="email"] {
   	   float:none;
       margin: 0.6em 0.6em 0em 0.6em;
       width: 80%;
      }
      .left{
          width:95%;
          padding: 0em 0.5em 0em 0.5em;
      }
      .right{
          width:95%;
          padding: 0em 0.5em 1.7em 0.5em;
      }
      #login-form, #regedit-form {
          display:block;
          margin: 20px auto 0px auto;
          width:95%;
      }
      #login-form .fieldWrapper, #regedit-form .fieldWrapper{

      }
      #login-form p, #regedit-form p{
          text-align: center;
      }
      #login-form label, #regedit-form label{
	  margin-top:0.3em;
          margin-left: 0.5em;
          width:100%;
          display:inline-block;
      }
      #login-form input[type="submit"], #regedit-form input[type="submit"] {
          max-width:220px;
          float:none;
          margin: 1.0em auto;
          padding: 1.5em;
      }

      #login-form:before{
          content: none;
      }
      #login-form:after, #regedit-form:after{
          content: none;
      }
      #website-list .image{
          display:inline-block;
          float:none;
          width:65%;
          margin: 10px auto 0 auto;
      }

      .form-mini {
          padding: 17.5px;
      }
      .friend-form-mini{
          padding:12px;
      }
      .form-mini .form-last-row{
          margin: 15px auto 10px auto;
      }
    }
        @media screen and (max-width: 26rem) {
            #banner{
                height:155%;
            }
            #website-list .image{
                width:75%;
		height:70px;
            }
            #website-title-bar{
                padding: 15px 15px 10px 0px;
            }
        }
        /* users */
        #people-list img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        #people-list .user {
            width: 180px;
            float: left;
            overflow: auto;
            padding: 10px;
        }
        #people-list .info {
            text-align: center;
        }
        img.user-detail {
            border-radius: 50%;
            float: left;
        }
        .profile-info {
            float: left;
            overflow: auto;
            margin-right: 20px;
        }
        .image-container {
            margin-top: 40px;
        }
        /* actions */
        .action {
            clear: both;
            overflow: auto;
        }
        .action .images {
            float: left;
            margin: 0 10px 10px 0;
        }
        .action .date {
            font-style: italic;
            color: #ccc;
        }

