{% extends "admin/base.html" %}

{% block title %}{{ title }} | MediaShelf Admin{% endblock %}

{% block extrastyle %}
<style>
#header{
  background: #118C4E;
  color: #fff;
  border-bottom: 4px solid #12c064;
}
#branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}
.module caption{
  background: #118C4E;
}
.button.default, input[type=submit].default, .submit-row input.default {
    border: 2px solid #585858;
    background:#118C4E url(../img/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: #fff;
    float: right;
}
</style>
{% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">MediaShelf Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
