{% extends "base.html" %}

{% block title %}Save an image{% endblock %}

{% block content %}
<style>
#image-to-save img{
margin-top:16px !important;
}
</style>
    <h1>Save an Image</h1>
<div id="image-to-save">    
<img src="{{ request.GET.url }}" class="image-preview">
</div>   
     <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
       <input type="submit" value="Save it!">
    </form>
{% endblock %}
