{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
        {% load thumbnail %}
            {% thumbnail image.image "400x600" as im %}
            <a href="{{ image.image.url }}">
            <img src="{{ im.url }}" class="image-detail">
            </a>
        {% endthumbnail %}
            <div class="image-info">
            
            {{ image.description|linebreaks }}
        </div>
   
    </div>

{% endblock %}
