{% extends "base.html" %}




{% block content %}

    <h1>{% block title %}Delete your Image{% endblock %}</h1>

    <img src="{{ image.url }}" class="image-detail">

    <form action="." method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Delete Image"></p>
    </form>
 
{% endblock %}