{% extends "base.html" %}

{% block title %}Images Saved{% endblock %}

{% block content %}
<section class="title-bar">
    <h1>Images Saved</h1>
    <form id="searchform" action="{% url 'images:image-search' %}" method="get" accept-charset="utf-8">
<button class="searchbutton" type="submit">
  <i class="fa fa-search"></i>
</button>
<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form>
<br clear="all" />
</section>
	<div class="image-table-responsive">
    	<div id="image-list">

    		{% include 'images/image/responsive-image-list.html' %}
		</div>
    </div>
{% endblock %}

        <script>

            function pageShown(evt){
                if (evt.persisted) {
                    alert("pageshow event handler called.  The page was just restored from the Page Cache (eg. From the Back button.");
                } else {
                    alert("pageshow event handler called for the initial load.  This is the same as the load event.");
                }
            }

            function pageHidden(evt){
                if (evt.persisted) {
                    alert("pagehide event handler called.  The page was suspended and placed into the Page Cache.");
                } else {
                    alert("pagehide event handler called for page destruction.  This is the same as the unload event.");
                }
            }

            window.addEventListener("pageshow", pageShown, false);
            window.addEventListener("pagehide", pageHidden, false);

        </script>
