{% load thumbnail %}

{% for image in images %}
    <div class="image">
        <a href="{{ image.get_absolute_url }}">
            {% thumbnail image.image "300x300" crop="top" as im %}
                <a href="{{ image.get_absolute_url }}">
                    <img src="{{ im.url }}">                        
                </a>
            {% endthumbnail %}
        </a>
        <div class="info">
            <a href="{{ image.get_absolute_url }}" class="title">
                {{ image.title }}
            </a>
			<p class="description">{{image.description}}</p>
        </div>
		<ul class="buttons">
        <li class="deleteButton" id ="{{image.id}}">
        <i class="fa fa-trash"></i>
		<div class="id-text" id="delete"  style="text-align: center">Delete</div>
        </li>
        <li class="imageEditButton" id ="{{image.id}}">
        <i class="fa fa-pencil-square-o"></i>
		    <div class="id-text" id="edit"  style="text-align: center">Edit</div>
        </li>
	        <li class="downloadButton" id ="download">
        <a href="{{image.image.url}}" download><i class="fa fa-download"></i></a>
        <div class="id-text" id="download-image"  style="text-align: center">Download</div>
        </li>
		</ul>
    </div>
{% endfor %}


        <div class="delete-form-mini-container">

	<header class="popupHeader">
		<span class="header_title">Are you sure?</span>
		<span class="modal_close"><i class="fa fa-window-close"></i></span>
	</header>
            <a class="idHolder" id=""></a>

            <form class="delete-form-mini" method="post" action="">


                <div class="form-row form-last-row">
                    <button class="cancel" type="submit">Cancel</button>
                </div>

                <div class="form-row form-last-row">
                    <button class="delete-image" type="submit">Delete</button>
                </div>

            </form>
        </div>


<div class="image-edit-form-mini-container">
	<header class="popupHeader">
		<span class="header_title">Edit Image</span>
		<span class="edit-modal-close"><i class="fa fa-window-close"></i></span>
	</header>
           			<a class="idHolder" id=""></a> 
            <form class="form-mini" method="post" action="">
				
				<div class="video-image"><img src=""></div>
                <div class="form-row">
                    <input id="title" type="text" name="title" value="" >
                </div>


                <div class="form-row">
<textarea rows="6" cols="25"></textarea>

                </div>


                <div class="form-row form-last-row">
					
                    <button id="editImageSubmit" type="submit">Submit</button>
                </div>

            </form>
        </div>
