
#bookmarklet {

    font-family:"Helvetica Neue", helvetica, arial, sans-serif !important;
    padding:0px; overflow:auto;
            font-size: 14px;
            margin: 0;
			border-raduis: 8px !important;
            background:#fff;
    box-shadow:0px 0px 8px 0 #666;
    position:fixed;
    min-width:350px;
    top:10px;
    right:10px;
    z-index:1000000000000;
}


        #bookmarklet h1 {
            display: block;
            font-size: 16px;
            margin: 15px 10px 10px 10px;
        }
        #bookmarklet .article_categories h1 {
            display: block;
            font-size: 16px;
            margin: 15px 10px 10px 10px;
			border:none;
        }
        #bookmarklet p{
            font-size: 14px;
            margin: 8px;
        }

        #bookmarklet #header {
            position: relative;
			display:block;
            width: 100%;
			height:auto;
            text-align: center;
            float: top;
            padding: 5px 0px;
            font-size: 14px;
            font-weight: bold;
        	background: #C1E1A6;
        	color: #fff;
        	border-bottom: 1px solid #bbb;
        	-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
			-moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
			box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);            
            margin-bottom: 10px;
        }
    #bookmarklet #header .logo {
		display:block;
        height:35px;
		width: 122px;
        background: url('icons/Media_Shelfv2.png') no-repeat;
		margin-left:114px;
    }
        #bookmarklet #container {
			display:inline-block;
            margin: 10px 5px 5px 5px;
        }

        #bookmarklet input,
        #bookmarklet textarea {
			position:relative;
			float:left;
            width: 420px;
        }

        #bookmarklet input #save {
            font-weight: bold;
            width: auto;
        }

        #bookmarklet #images img {
            border: 1px solid #ccc;
            border-top: 3px solid #118C4E;
            padding: 2px;
            margin: 5px 0 5px 10px;
            width: 90px;
            float: left;
        }

        #bookmarklet #addbookmark #tags {
            padding: 2px;
        }

        #bookmarklet .article_categories {
            width: 350px;
        }

        #bookmarklet .article_categories button {
            margin: 10px;
            width: 33%;
            padding: 7px;
        }

        #bookmarklet fieldset {
            display: block;
            margin-bottom: 5px;
            -webkit-margin-start: 2px;
            -webkit-margin-end: 2px;
            -webkit-padding-before: 0.35em;
            -webkit-padding-start: 0.75em;
            -webkit-padding-end: 0.75em;
            -webkit-padding-after: 0.625em;
            min-width: -webkit-min-content;
            border-width: 2px;
            border-style: groove;
            border-color: threedface;
            border-image: initial;
        }

       #bookmarklet .article_categories .item {
            display: block;
            width: 100px;
            float: left;
            margin-top: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
        }

       #bookmarklet .article_categories .item label {
            font-size: 13px;
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }

       #bookmarklet .article_categories .item input[type=radio] {
            cursor: pointer;
            display: inline-block;
            height: 13px;
            width: 13px;
            vertical-align: top;
            margin: 0;
        }

      #bookmarklet #video_categories fieldset {
            width: 420px;
            margin-bottom: 5px;
        }

       #bookmarklet #video_categories .item {
            display: block;
            width: 100px;
            float: left;
            margin-top: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
        }

       #bookmarklet #video_categories .item label {
            font-size: 13px;
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }

       #bookmarklet #video_categories .item input[type=radio] {
            cursor: pointer;
            display: inline-block;
            height: 13px;
            width: 13px;
            vertical-align: top;
            margin: 0;
        }

      #bookmarklet #video_categories button {
            margin: 10px;
            width: 25%;
            padding: 7px;
        }

       #bookmarklet #website_categories fieldset {
            width: 420px;
            margin-bottom: 5px;
        }

       #bookmarklet #website_categories .item {
            display: block;
            width: 100px;
            float: left;
            margin-top: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
        }

       #bookmarklet #website_categories .item label {
            font-size: 13px;
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }

       #bookmarklet #website_categories .item input[type=radio] {
            cursor: pointer;
            display: inline-block;
            height: 13px;
            width: 13px;
            vertical-align: top;
            margin: 0;
        }

       #bookmarklet #website_categories button {
            margin: 10px;
            width: 25%;
            padding: 7px;
        }

      #bookmarklet #get_buttons {
            width: 340px;
            display: block;
            position: relative;
            float: left;
            text-align: center;
            margin-bottom: 10px:
        }

      #bookmarklet span.button {
            display: inline-block;
            margin: 0 auto;
        }

       #bookmarklet button {
            background-color: #FF9009;
            border: 1px solid #979797;
            -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            text-shadow: #585858 0 1px 0;
            color: #fff;
            width: 70px;
            margin: 5px 5px 10px 5px;
            outline: none;
            padding: 5px;
            display: block;
            float: left;
            overflow: hidden;
            letter-spacing: 0.1em;
            font-weight: bold;
            font-size: 13px;
            cursor: pointer;
        }

      #bookmarklet button:hover {
            opacity: 0.85;
            color: #585858;
            cursor: pointer;
            display: block
        }
 
#bookmarklet #close { 
    float:right;
    font-size:18px;
    text-decoration:none;
    color:#666;
    margin: 0 10px 5px 0; 
}

#bookmarklet #close:hover { 
    color:#000;
}

