{% load thumbnail %}
{% load social_share %}
{% for website in websites %}

    <div class="image" id="{{website.id}}">
<ul class="friend-div" id= "{{website.id}}">
<li class="fb-post">{% post_to_facebook website.url "Post to Facebook" %}</li>
<li class="twitter-post">{% post_to_twitter "Website: {{website.site_name}}. Check it out!" website.url "Post to Twitter" %}</l>
<li class="email-post">{% send_email website.site_name "Website: {{website.site_name}}. Check it out!" website.url "Share via email" %}</li>
</ul>
    <section id="favicon-holder">
		<a href="{{ website.url }}">
            {% thumbnail  website.favicon "30x30" crop="center" format="PNG" as im %}
                    <img id="site-favicon" src="{{im.url}}">
            {% endthumbnail %}
		</a>
    </section>
        <div class="info">
            <a href="{{ website.url }}" class="title">
                {{ website.site_name }}
            </a>
			<a class="category">
                {{ website.category }}
            </a>
        </div>
<ul class="buttons">
        <li class="deleteButton" id ="{{website.id}}">
        <i class="fa fa-trash"></i>
		<div class="id-text" id="website-delete"  style="text-align: center">Delete</div>
        </li>
        <li class="editButton" id ="{{website.id}}">
        <i class="fa fa-pencil-square-o"></i>
		    <div class="id-text" id="website-edit"  style="text-align: center">Edit</div>
        </li>
        <li class="friendButton" id ="{{website.id}}">
        <i class="fa my-fa-friends"></i>
		    <div class="id-text" id="website-share"  style="text-align: center">Share</div>
        </li>
		</ul>
	</div>
{% endfor %}

        <div class="delete-form-mini-container">

	<header class="popupHeader">
		<span class="header_title">Are you sure?</span>
		<span class="modal_close"><i class="fa fa-window-close"></i></span>
	</header>
            <a class="idHolder" id=""></a>

            <form class="delete-form-mini" method="post" action="">


                <div class="form-row form-last-row">
                    <button class="cancel" type="submit">Cancel</button>
                </div>

                <div class="form-row form-last-row">
                    <button class="delete-website" type="submit">Delete</button>
                </div>

            </form>
        </div>
<div class="edit-form-mini-container">
	<header class="popupHeader">
		<span class="header_title">Edit Website</span>
		<span class="edit-modal-close"><i class="fa fa-window-close"></i></span>
	</header>
           			<a class="idHolder" id=""></a>
            <form class="form-mini" method="post" action="">

				<div class="video-image"><img src=""></div>
                <div class="form-row">
                    <input id="title" type="text" name="title" value="" >
                </div>


                <div class="form-row">
                    <label>
                        <select  name="dropdown">
                            <option>Arts</option>
                            <option>Business</option>
                            <option>Economics</option>
                            <option>Education</option>
                            <option>Entertainment</option>
                            <option>Fashion</option>
                            <option>Games</option>
                            <option>Health</option>
                            <option>Home</option>
                            <option>Kids</option>
                            <option>Men</option>
                            <option>News</option>
                            <option>Politics</option>
                            <option>Reference</option>
                            <option>Regional</option>
                            <option>Science</option>
                            <option>Shopping</option>
                            <option>Society</option>
                            <option>Sports</option>
                            <option>Technology</option>
                            <option>Travel</option>
                            <option>Women</option>
                            <option>Miscellaneous</option>
                        </select>
                    </label>
                </div>


                <div class="form-row form-last-row">

                    <button id="editWebsiteSubmit" type="submit">Submit</button>
                </div>

            </form>
        </div>


<div class="friend-form-mini-container">

	<header class="popupHeader">
		<span class="header_title">Share This Now!</span>
		<span class="friend-modal-close"><i class="fa fa-window-close" aria-hidden="true"></i></span>
	</header>
           <a class="idHolder" id=""></a>

            <form class="friend-form-mini" method="post" action="#">

				<div class="item-image"><img src=""></div>


               <div class="form-row form-last-row">

                    <a class="friend-button" id="fb" href=""><i class="fa fa-my-zuck"></i><span>Post to Facebook</span></a>
                </div>

               <div class="form-row form-last-row">
                    <a class="friend-button" id="twitter" href =""><i class="fa fa-my-bird" aria-hidden="true"></i><span>Post to Twitter</span></a>
                </div>
               <div class="form-row form-last-row">
                    <a class="friend-button" id="email" href=""><i class="fa fa-envelope" aria-hidden="true"></i><span>Share via Email</span></a>
                </div>
               <div class="form-row form-last-row">
                    <a class="friend-button"><div class="media-shelf-icon"></div><span>Share via MediaShelf</span></a>
                </div>
        </form>
    </div>
