{% extends "base.html" %}

{% block title %}Websites Saved{% endblock %}

{% block content %}
<section class="title-bar" id="website-title-bar">
    <h1>Websites Saved</h1>
    <form id="searchform" action="{% url 'websites:website-search' %}" method="get" accept-charset="utf-8">
<button class="searchbutton" type="submit">
  <i class="fa fa-search"></i>
</button>
<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form>
<div id="mobile-search-icon">
  <i class="fa fa-search fa-2x" aria-hidden="true"></i>
</div>
<div class="search-dropdown">
  <form id="dropdown-searchform" action="{% url 'websites:website-search' %}" method="get" accept-charset="utf-8">
<button class="searchbutton" type="submit">
<i class="fa fa-search"></i>
</button>
<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form>
</div>
<br clear="all" />
</section>
<div id="item-content">
    <div id="website-list">
		<div class="website-table-responsive">
    		{% include 'websites/responsive_website_list.html' %}
		</div>
    </div>
</div>
    <div id="right-sidebar">


      <h2>Filter by Category</h2>
      <fieldset>
        <div class="item">
         <input type = "radio"
        name="action"
           id = "chkAll"
           value = "All" />
         <label for = "all">All</label>
       </div>
{% for category in categories %}
 <div class="item">
  <input type = "radio"
	name="action"
    id = "chk{{category}}"
    value = "{{category}}" />
  <label for = "{{category}}">{{category}}</label>
</div>
{% endfor %}
</fieldset>
 <br clear="all" />
<button type = "button"
  id = "filter_button">
 Filter
</button>
    </div>

  <div class="filter-dropdown">
      <h2>Filter by Category</h2>
      <fieldset id="fieldset">
        <div class="item">
         <input type = "radio"
        name="action"
           id = "chkAll"
           value = "All" />
         <label for = "all">All</label>
       </div>
    {% for category in categories %}
    <div class="item">
    <input type = "radio"
    name="action"
    id = "chk{{category}}"
    value = "{{category}}" />
    <label for = "{{category}}">{{category}}</label>
    </div>
    {% endfor %}
    </fieldset>
    <br clear="all" />
    <button type = "button"
    id = "filter_button">
    Filter
    </button>
    </div>
{% endblock %}
