{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<h1>{{ article.title }}</h1>
<div id="main-content">

<div id="article-view">
<section id="top-section">
<div id="original-url"><a href="{{ article.url }}">View Original</a></div>
<div id="pdf">
    <div id="pdf-text">Download Pdf</div>
<div id="download-pdf" ><a class="icon" href="{% url 'articles:pdf' article.id %}"><i class="fa fa-download" aria-hidden="true"></i></a></div>
</div>
</section>
{% for each in nodes %}

{% if each.html_element == "img"%}
<div class="image-node">
{% thumbnail  each.image.image "760x540" crop="top" as im %}
    <img src="{{ im.url}}">

{% endthumbnail %}
</div>
{% else %}
<div class="text-node">
    <p>{{each.content}}</p>
</div>
{% endif %}
{% endfor %}
</div>
</div>

{% endblock %}
