{% load thumbnail %}

{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="{% static "css/icons/media_shelf.png" %}">
    <link href= "{% static "css/base.css" rel="stylesheet" %}>
	<link href= "{% static "css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"%}>
	<meta charset="utf-8" />
</head>
<body>
    <div id="header">
        <span class="logo"></span>
    </div>
<div id="content">
{% block content %}
<h1>{{ article.title }}</h1>
<div>Source:{{article.url}}</div>
<div id="article-main-content-pdf">

<div id="article-view-pdf">

{% for node in nodes %}



{% if node.html_element == "img"%}
<div class="image-node">
{% thumbnail  node.image.image "630x450" crop="top" as im %}
    <img src="{{ im.url}}"> 
                 
{% endthumbnail %}
</div>
{% else %}
<div class="text-node">
    <p>{{node.content}}</p>
</div>
{% endif %}
{% endfor %}
</div>
</div>
{% endblock %}
<div>
