{% load thumbnail %}
{% load staticfiles %}
{% load social_share %}
{% for article in articles %}

    <div class="image" id="{{article.id}}">
<ul class="friend-div" id= "{{article.id}}">
<li class="fb-post">{% post_to_facebook article.url "Post to Facebook" %}</li>
<li class="twitter-post">{% post_to_twitter "Article: {{article.title}}. Check it out!" article.url "Post to Twitter" %}</l>
<li class="email-post">{% send_email article.title "Article: {{article.title}}. Check it out!" article.url "Share via email" %}</li>
</ul>
		<a href="{{ article.get_absolute_url }}">
	    {% with article.image.all as i %}
	    {% if i %}		
            {% thumbnail  i.first.image "300x300" crop="100%" as im %}
                <a href="{{ i.0.get_absolute_url }}">
                    <img src="{{im.url}}">
                </a>
            {% endthumbnail %}
	    {% else %}
              <a href="{{ article.get_absolute_url }}">
				<img src="{% static "css/global_images/default_article_img.jpg" %}">
			{% endif %}

			{% endwith %}
		</a>
        <div class="info">
            <a href="{{ article.get_absolute_url }}" class="title">
                {{ article.title }}
            </a>
			<a class="category">
                {{ article.category }}
            </a>
        </div>
<ul class="buttons">
        <li class="deleteButton" id ="{{article.id}}">
        <i class="fa fa-trash"></i>
		<div class="id-text" id="article-delete"  style="text-align: center">Delete</div>
        </li>
        <li class="articleEditButton" id ="{{article.id}}">
        <i class="fa fa-pencil-square-o"></i>
		    <div class="id-text" id="article-edit"  style="text-align: center">Edit</div>
        </li>
        <li class="friendButton" id ="{{article.id}}">
        <i class="fa my-fa-friends"></i>
		    <div class="id-text" id="article-share"  style="text-align: center">Share</div>
        </li>
		</ul>
	</div>
{% endfor %}

        <div class="delete-form-mini-container">

	<header class="popupHeader">
		<span class="header_title">Are you sure?</span>
		<span class="modal_close"><i class="fa fa-window-close"></i></span>
	</header>
            <a class="idHolder" id=""></a>

            <form class="delete-form-mini" method="post" action="">


                <div class="form-row form-last-row">
                    <button class="cancel" type="submit">Cancel</button>
                </div>

                <div class="form-row form-last-row">
                    <button class="delete-article" type="submit">Delete</button>
                </div>

            </form>
        </div>
<div class="edit-form-mini-container">
	<header class="popupHeader">
		<span class="header_title">Edit Article</span>
		<span class="edit-modal-close"><i class="fa fa-window-close"></i></span>
	</header>
           			<a class="idHolder" id=""></a>
            <form class="form-mini" method="post" action="">

				<div class="article-image"><img src=""></div>
                <div class="form-row">
                    <input id="title" type="text" name="title" value="" >
                </div>


                <div class="form-row">
                    <label>
                        <select  name="dropdown">
                            <option>Arts</option>
                            <option>Business</option>
                            <option>Education</option>
                            <option>Entertainment</option>
                            <option>Food</option>
                            <option>Health</option>
                            <option>History</option>
                            <option>Politics</option>
                            <option>Science</option>
                            <option>Society</option>
                            <option>Sports</option>
                            <option>Technology</option>
                            <option>Travel</option>
                            <option>Miscellaneous</option>
                        </select>
                    </label>
                </div>


                <div class="form-row form-last-row">

                    <button id="editArticleSubmit" type="submit">Submit</button>
                </div>

            </form>
        </div>



<div class="friend-form-mini-container">

	<header class="popupHeader">
		<span class="header_title">Share This Now!</span>
		<span class="friend-modal-close"><i class="fa fa-window-close" aria-hidden="true"></i></span>
	</header>
           <a class="idHolder" id=""></a>

            <form class="friend-form-mini" method="post" action="#">
				<div class="item-image"><img src=""></div>


               <div class="form-row form-last-row">

                    <a class="friend-button" id="fb" href=""><i class="fa my-fa-zuck"></i><span>Post to Facebook</span></a>
                </div>

               <div class="form-row form-last-row">
                    <a class="friend-button" id="twitter" href =""><i class="fa my-fa-bird" aria-hidden="true"></i><span>Post to Twitter</span></a>
                </div>
               <div class="form-row form-last-row">
                    <a class="friend-button" id="email" href=""><i class="fa fa-envelope" aria-hidden="true"></i><span>Share via Email</span></a>
                </div>
               <div class="form-row form-last-row">
                    <a class="friend-button"><div class="media-shelf-icon"></div><span>Share via MediaShelf</span></a>
                </div>
        </form>
    </div>
