{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

<div id="home-main-content">

<div id="slider">
  <a href="#" class="control_next"><i class="fa fa-caret-right fa-2x" aria-hidden="true"></i></a>
  <a href="#" class="control_prev"><i class="fa fa-caret-left fa-2x" aria-hidden="true"></i></a>
  <ul id="slider-list">
{% for article in articles %}
{% with article.image.all as i %}
            {% thumbnail  i.first.image "750x425" crop="100%" as im %}
                <li><a href="{{ i.0.get_absolute_url }}">
                    <img src="{{im.url}}"><span class="slider_title"><div>{{article.title}}</div></span> <span class="item-type"><div>{{article.category}} Article</div></span>
					</a>
            {% endthumbnail %}
			{% endwith %}
                </li>



{% endfor %}
{% for image in images %}
{% thumbnail image.image "325x325" crop="top" as img %}
        <li><a href="{{ image.get_absolute_url }}">
                    <img src="{{ img.url }}"><span class="slider_title"><div>{{image.title}}</div></span><span class="item-type"><div>Image</div></span>
                </a>
        </li>
{% endthumbnail %}
{% endfor %}
{% for video in videos %}
 {% thumbnail  video.image "225x325" crop="center" as im %}
                <li><a href="{{ video.url }}">
                    <img src="{{im.url}}"><span class="slider_title"><div>{{video.title}}</div></span><span class="item-type"><div>{{video.category}} Video</div></span>
                	</a>
				</li>
{% endthumbnail %}
{% endfor %}
  </ul>
</div>
<section id="action-widgets">
  <div class="action-widgets">
  <span id="edit-widget"><a class="icon" href="{% url "edit" %}"><i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i></a></span>
  <div id="edit-text">Edit Profile</div>
</div>
  <div class="action-widgets">
    <span id="password-widget"><a class="icon" href="{% url "password_change" %}"><i class="fa fa-unlock-alt fa-5x fa-fw" aria-hidden="true"></i></a></span>
    <div id="password-text">Edit Password</div>
  </div>
    <div class="action-widgets">
      <span id="recommended-widget"><a class="icon" href="#"><i class="fa fa-inbox fa-5x fa-fw" aria-hidden="true"></i></a></span>
      <div id="recommended-text">Recommended</div>
    </div>
</section>

</div>
<div id="home-right-sidebar">
  <h2>Recent Activity</h2>
  {% for action in actions %}
  <ul class="actions">
    <li>
      <div id="action-item">
        {{action.item}}
      </div>
      <div id="action-created">
      {{action.created|date:"F d, Y"}}
      </div>
      <div id="action-verb">
        {{action.verb}}
      </div>

    </li>
  </ul>

  {% endfor %}
</div>

{% endblock %}
