{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
    <h1>Edit your account</h1>
        <div id="regedit-form">
    <form action="." method="post" enctype="multipart/form-data">
      <div class="heading">Edit Your Account Profile</div>
      <div class="left">
        <div class="fieldWrapper">
          <label for="{{ user_form.first_name.id_for_label }}">First Name:</label>
          {{ user_form.first_name }}
      </div> <br />
      <div class="fieldWrapper">
        <label for="{{ user_form.last_name.id_for_label }}">Last Name:</label>
        {{ user_form.last_name }}
    </div> <br />
    <div class="fieldWrapper">
      <label for="{{ user_form.email.id_for_label }}">Email:</label>
      {{ user_form.email }}
  </div> <br />
      </div>
      <div class="right">
        <div class="fieldWrapper">
          <label for="{{ profile_form.date_of_birth.id_for_label }}">Date of birth:</label>
          {{ profile_form.date_of_birth }}
      </div> <br />
      <div class="fieldWrapper" id="photo">
        <label for="{{ profile_form.photo.id_for_label }}">Photo:</label>
        {{ profile_form.photo }}
    </div> <br />
        {% csrf_token %}
        <div id="form-row"><input type="submit" value="Save changes"></div>
        </div>
    </form>
  </div>
{% endblock %}
<script>
    $(document).ready(function(){
    {% block domready %}
    var photo_src = $('#photo').find('a:first').attr('href');
    $('#photo').find('a:first').replaceWith('<div id="form-row"><img src="" width="110" height="100"/></div>');
    $('#form-row img').attr("src", photo_src);
    console.log(photo_src);
    {% endblock %}
    });
  </script>
