{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome {{ user.first_name }}!</h1>
    <p>An new email verification has been sent to your email account.  Please follow the instructions to activate your account.</p>
{% endblock %}

