{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Activation Period Expired</h1>
    <p>The time period for activation has expired. Please <a
href="{% url 'account:new-activation-link' id_user %}">click here</a> to have a new activation link sent to your email address.</p>
{% endblock %}

