{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <h1>Create an account</h1>
      {{user_form.errors.password2 }}
      {{user_form.errors.email}}
     {{user_form.messages}}   
 <div id="regedit-form">
    <form action="." method="post">
      <div class="heading">Sign up for an account</div>
      <div class="left">
        <div class="fieldWrapper">
          <label for="{{ user_form.username.id_for_label }}">Username:</label>
          {{ user_form.username }}<br/>
      </div> <br />
      <div class="fieldWrapper">
        <label for="{{ user_form.first_name.id_for_label }}">First Name:</label>
        {{ user_form.first_name }}
    </div> <br />
    <div class="fieldWrapper">
      <label for="{{ user_form.email.id_for_label }}">Email:</label>
      {{ user_form.email }}
  </div> <br />
                {% csrf_token %}
      </div>
      <div class="right">
        <div class="fieldWrapper">
          <label for="{{ user_form.password.id_for_label }}">Password:</label>
          {{ user_form.password }}
      </div> <br />
      <div class="fieldWrapper">
        <label for="{{ user_form.password2.id_for_label }}">Repeat password:</label>
        {{ user_form.password2 }}
    </div>
      <section id="form_submit_section">
       <p> <input type="submit" value="Create my account"></p>
      </section>
      </div>
    </form>
  </div>
{% endblock %}
