{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome {{ new_user.first_name }}!</h1>
    <p>An email verification has been sent to your email address.  Please follow the instructions to activate your account.</p>
{% endblock %}

