{% load thumbnail %}
{% load social_share %}
{% for video in videos %}

    <div class="image" id = "{{video.id}}">
<ul class="friend-div" id= "{{video.id}}">
<li class="fb-post">{% post_to_facebook video.url "Post to Facebook" %}</li>
<li class="twitter-post">{% post_to_twitter "Video: {{video.title}}. Check it out!" video.url "Post to Twitter" %}</l>
<li class="email-post">{% send_email video.title "Video: {{video.title}}. Check it out!" video.url "Share via email" %}</li>
</ul>
            {% thumbnail  video.image "130x173" crop="center" as im %}
                <a href="{{ video.url }}">
                    <img src="{{im.url}}">                        
                </a>
            {% endthumbnail %}
        <div class="info">
            <a href="{{ video.url }}" class="title">
                {{ video.title }}
            </a>
			<a class="category">
                {{ video.category }}
            </a>
        </div>
		<ul class="buttons">
        <li class="deleteButton" id ="{{video.id}}">
        <i class="fa fa-trash"></i>
		<div class="id-text" id="delete"  style="text-align: center">Delete</div>
        </li>
        <li class="editButton" id ="{{video.id}}">
        <i class="fa fa-pencil-square-o"></i>
		    <div class="id-text" id="edit"  style="text-align: center">Edit</div>
        </li>
        <li class="friendButton" id ="{{video.id}}">
        <i class="fa my-fa-friends"></i>
       		    <div class="id-text" id="share"  style="text-align: center">Share</div>
        </li>
		</ul>

</div>


{% endfor %}
        <div class="delete-form-mini-container">

	<header class="popupHeader">
		<span class="header_title">Are you sure?</span>
		<span class="modal_close"><i class="fa fa-window-close"></i></span>
	</header>
            <a class="idHolder" id=""></a>

            <form class="delete-form-mini" method="post" action="">


                <div class="form-row form-last-row">
                    <button class="cancel" type="submit">Cancel</button>
                </div>

                <div class="form-row form-last-row">
                    <button class="delete-item" type="submit">Delete</button>
                </div>

            </form>
        </div>


<div class="edit-form-mini-container">
	<header class="popupHeader">
		<span class="header_title">Edit Video</span>
		<span class="edit-modal-close"><i class="fa fa-window-close"></i></span>
	</header>
           			<a class="idHolder" id=""></a> 
            <form class="form-mini" method="post" action="">
				
				<div class="video-image"><img src=""></div>
                <div class="form-row">
                    <input id="title" type="text" name="title" value="" >
                </div>


                <div class="form-row">
                    <label>
                        <select  name="dropdown">
                            <option>Action</option>
                            <option>Adventure</option>
                            <option>Animation</option>
                            <option>Biography</option>
                            <option>Comedy</option>
                            <option>Crime</option>
                            <option>Documentary</option>
                            <option>Drama</option>
                            <option>Family</option>
                            <option>Foreign</option>
                            <option>History</option>
                            <option>Horror</option>
                            <option>Inspirational</option>
                            <option>Mystery</option>
                            <option>Romance</option>
                            <option>Sci Fi</option>
                            <option>Sports</option>
                            <option>Thriller</option>
                            <option>Western</option>
                            <option>Miscellaneous</option>
                        </select>
                    </label>
                </div>


                <div class="form-row form-last-row">
					
                    <button id="editVideoSubmit" type="submit">Submit</button>
                </div>

            </form>
        </div>


<div class="friend-form-mini-container">

	<header class="popupHeader">
		<span class="header_title">Share This Now!</span>
		<span class="friend-modal-close"><i class="fa fa-window-close" aria-hidden="true"></i></span>
	</header>
           <a class="idHolder" id=""></a>  

            <form class="friend-form-mini" method="post" action="#">


				<div class="item-image"><img src=""></div>


               <div class="form-row form-last-row">


                    <a class="friend-button" id="fb" href=""><i class="fa fa-my-zuck"></i><span>Post to Facebook</span></a>
                </div>

               <div class="form-row form-last-row">
                    <a class="friend-button" id="twitter" href =""><i class="fa fa-my-bird" aria-hidden="true"></i><span>Post to Twitter</span></a>
                </div>
               <div class="form-row form-last-row">
                    <a class="friend-button" id="email" href=""><i class="fa fa-envelope" aria-hidden="true"></i><span>Share via Email</span></a>
                </div>
               <div class="form-row form-last-row">
                    <a class="friend-button"><div class="media-shelf-icon"></div><span>Share via MediaShelf</span></a>
                </div>
            
        </form>


    </div>



