
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}How to Save{% endblock %}
 


{% block content %}
    <h1>How to Save</h1>

<div id="main-content">

<section id="browser-extension">
<img src="{% static 'css/global_images/mediashelf_screenshot1.png' %}" width="630" height ="250" />
</section>
<section id="bookmark-bar">

</section>

</div>
<div id="right">
<section id="browser-extension-right">
<p>1.  The best way to use MediaShelf is by adding the browser extension to your web broswer.  You can download it here:</p>
<div id="extension_icons">
<a id="chrome_extension"><img src="{% static 'extensions/chrome.ico' %}"/></a> 
<a id="safari_extension" href="https://s3-us-west-2.amazonaws.com/staticmediashelf/extensions/MediaShelf.safariextz" ><img src="{% static 'extensions/safari.ico' %}"/></a> 
<a id="firefox_extension" href="https://addons.mozilla.org/en-US/firefox/addon/media-shelf/" target="_blank"><img src="{% static 'extensions/firefox.ico' %}"/></a> 
</div>
</section>
<section id="bookmark-bar-right">

  </p>
</section
</div>

{% endblock %} 

