<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}MediaShelf{% endblock %}


{% block content %}
<section id="banner">
<h2>Media Shelf</h2>
<p>
  Save it now. Enjoy it later. Share with friends.
</p>
<section id="mainpage_buttons">
{% if user.is_authenticated %}

<ul class="mainpage_buttons">
  <li>
    <a class="button demo">View Demo</a>
  </li>
    <br clear="all" />
</ul>
{% else %}
<ul class="mainpage_buttons">
  <li>
    <a href="/account/register/" class="button special">Sign Up</a>
  </li>
  <li>
    <a href="/account/login/" class="button">Log In</a>
  </li>
    <br clear="all" />
</ul>
<ul class="mainpage_buttons">
  <li>
    <a class="button demo">View Demo</a>
  </li>
    <br clear="all" />
</ul>
{% endif %}
</section>
  <br clear="all" />
  </section>
{% endblock %}
